---
layout: default
title: Index
---
<div id="header-container">
    I'm Dan Taylor
    <br>
    I'm a multimedia designer
    <br>
    This is a selection of my work
    <br>
</div>
<div id="page-container">
    <div class="content-grid">
        {% for post in site.posts %}{% if post.image %}
        <div class="grid-item" style="{% if post.width %}width:{{ post.width }}%{% else %}height: 50vh{% endif %};">
            <a href="{{ post.url }}">
                <img src="{{ post.image }}" style="{% if post.width %}width:100%{% else %}height:100%;{% endif %};">
            </a>
            <a href="{{ post.url }}" class="caption">{{ post.date | date: '%-m/%-d/%Y' }}<br/>{{ post.title }}
            {% if post.width %}<br/>{{ post.caption }}{% endif %}
            </a>
        </div>
        {% endif %}{% endfor %}
    </div>
</div>
<div id="footer-container">
    Contact me by
    <a href="mailto:hi@imdantaylor.com">email</a>
    <br>
    or on
    <a href="http://instagram.com/im_dan_taylor">Instagram</a>
</div>
