/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust: 100%;
	/* Prevent font scaling in landscape while allowing user zoom */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reset*/

:root {
	--color-foreground: black;
	--color-background: white;
	--color-accent: #c7c7c7;
	/* --color-tertiary: #b8b8b8; */
	/* spacing between horizontal rule elements and around the site */
	--outer-margin: 3rem;
}

@font-face {
	font-family: "Hyperwalk VF";
	src: url("../fonts/HyperwalkVF.woff2") format("woff2"),
		url("../fonts/HyperwalkVF.ttf") format("ttf"),
		url("../fonts/HyperwalkVF.woff") format("woff");
}

@font-face {
	font-family: "Hyperwalk Mono VF";
	src: url("../fonts/HyperwalkMonoVF.woff2") format("woff2"),
		url("../fonts/HyperwalkMonoVF.ttf") format("ttf"),
		url("../fonts/HyperwalkMonoVF.woff") format("woff");
}

/*text*/

:root {
	background-color: var(--color-background);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: regular;
	/* font-family: "Hyperwalk VF"; */
	/* font-weight: 80; */
	font-size: 16pt;
	letter-spacing: .01em;
}


p,
a,
h1,
h2,
h3 {
	line-height: 1.3em;
	margin-bottom: .7rem;
	color: var(--color-foreground);
}

.caption {
	font-size: 8pt;
	letter-spacing: .05em;
}

.mono {
	/* font-family: "Hyperwalk Mono VF", "Courier New", Courier, monospace; */
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	/* color: red; */
	text-decoration: underline;
	/* text-decoration: none; */
	text-underline-offset: 4px;
}

.hidden-link,
.hidden-link:active,
.hidden-link:hover,
.hidden-link:focus,
.hidden-link:visited {
	text-decoration: none;
}

hr {
	border: none;
	/* border: 1px solid var(--color-foreground); */
	/* margin-top: 2rem; */
	margin-bottom: 2rem;
}

#header-container {
	position: fixed;
	top: .5em;
	left: .5em;
}

#footer-container {
	position: fixed;
	bottom: .5em;
	right: .5em;
}

.highlight {
	color: white;
}

#header-container,
#footer-container {
	mix-blend-mode: difference;
}

#footer-container a,
#footer-container p {
	margin-bottom: 0;
}