/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape while allowing user zoom */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End CSS Reset*/

:root {
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: #b8b8b8;
    --spacing: 32px;
}


/*text*/

html {
    background-color: var(--color-secondary);
    letter-spacing: .02em;
}

html,
body,
p,
a,
h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: var(--color-primary);
    margin-bottom: 16px;
    line-height: 28px;
}

.grid-item img {
    margin-bottom: .5rem;
}

.caption {
    font-size: 8pt;
    font-weight: 400;
    line-height: 1.4;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--color-primary);
}

.hidden-link, .hidden-link:active, .hidden-link:hover, .hidden-link:focus, .hidden-link:visited,
.grid-item a, .grid-item a:active, .grid-item a:hover, .grid-item a:visited, .grid-item a:focus {
    border-bottom: none;
}

#post-content img,
#post-content video {
    width: 100%;
    margin-bottom: 4px;
}

hr {
    border: none;
    margin-bottom: var(--spacing);
}

/*containers*/

#site-container {
    margin: 0 auto;
    padding: var(--spacing);
    width: 100%;
    /*max-width: 1024px;*/
    box-sizing: border-box;
}

#header-container {
    position: fixed;
    top: var(--spacing);
    bottom: var(--spacing);
    /* margin-bottom: 32px; */
}

#footer-container {
    position: fixed;
    bottom: var(--spacing);
    right: var(--spacing);
    width: -calc(100% - (var(--spacing)*2));
    text-align: right;
    /* margin-bottom: 32px; */
}

#page-container {
    margin-top: 128px;
    margin-bottom: 128px;
}

#content-container {
    margin: 0 auto;
    margin-top: 64px;
}

#post-content {
    margin: 0 auto;
    max-width: 80vh;
}

.content-grid {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.grid-item {
    /* width: calc(33.33% - 16px); */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

/*responsive stuff*/


@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: white;
        --color-secondary: black;
    }
}


/*screen size*/

@media screen and (max-width: 750px) {
    .grid-item {
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
    }
}

@media screen and (max-width: 480px) {}