---
layout: default
---
<div id="header-container">
	<h1>
		<a class="hidden-link" href="work">&lt;</a>
	</h1>
</div>
<hr />
<hr />
<hr />
<div id="post-content">
	<div id="page-container">
		<p class="caption mono">{{ page.date | date: '%Y-%-m-%-d' }}</p>
		<hr>
		<!-- <hr /> -->
		{{ content }}
	</div>
</div>

<style>
	#page-container {
		/* center the page horizontally and vertically */
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	#post-content img,
	#post-content video {
		width: 100%;
		margin-bottom: 2rem;
	}


	#post-content {
		margin: 2rem;
	}
</style>